---
const { translations } = Astro.props;
---

<section id="education">
  <span class="section-title">{translations?.menu.education}</span>
  {
    translations.education &&
      translations.education.map(
        ({ institution, degree, period, location }) => (
          <div class="education">
            <div class="date">
              <p>{period}</p>
              <p>{location}</p>
            </div>
            <div class="info">
              <p class="title">{degree}</p>
              <div class="description">
                <p>{institution}</p>
              </div>
            </div>
          </div>
        )
      )
  }
</section>
<style>
  .education {
    display: flex;
    width: 100%;
  }
  .date {
    width: 25%;
    color: var(--text-secondary);
    font-size: 1rem;
  }
  .info {
    width: 75%;
    padding-left: 0.3rem;
    font-size: 1.1rem;
  }
  .title {
    font-weight: bold;
    font-size: 18px;
  }
  .description {
    color: var(--text-tertiary);
  }
  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
</style>
