---
import NewTab from "../assets/newTab.svg";
const { data } = Astro.props;
---

<section id="education">
  <span class="section-title">{data?.menu.education}</span>
  {
    data.education &&
      data.education.map(
        ({ institution, degree, period, location, degreeInfo }) => (
          <div class="education">
            <div class="date">
              <p>{period}</p>
              <p>{location}</p>
            </div>
            <div class="info">
              <p class="title">
                {degree}{" "}
                {degreeInfo && (
                  <a href={degreeInfo} target="_blank">
                    <NewTab />
                  </a>
                )}
              </p>
              <div class="description">
                <p>{institution}</p>
              </div>
            </div>
          </div>
        )
      )
  }
</section>
<style>
  .education {
    display: flex;
    width: 100%;
  }
  .date {
    width: 25%;
    color: var(--text-secondary);
    font-size: 1rem;
  }
  .info {
    width: 75%;
    padding-left: 0.3rem;
    font-size: 1.1rem;
  }
  .title {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-self: center;
    gap: 5px;
  }
  .title a {
    display: flex;
    align-items: center;
  }
  .title a svg {
    height: 18px;
    fill: var(--text-tertiary);
  }
  .description {
    color: var(--text-tertiary);
  }
  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
</style>
