---
import Chips from "./Chips.astro";
import js from "../assets/dev/js.svg";
import react from "../assets/dev/react.svg";
import bootstrap from "../assets/dev/bootstrap.svg";
import css from "../assets/dev/css.svg";
import html from "../assets/dev/html.svg";
import vitest from "../assets/dev/vitest.svg";
import cypress from "../assets/dev/cypress.svg";
import python from "../assets/dev/python.svg";
import flask from "../assets/dev/flask.svg";
import postgre from "../assets/dev/postgre.svg";

const { translations } = Astro.props;
const chips = [
  {
    image: react.src,
    name: "React.js",
  },
  {
    image: js.src,
    name: "JavaScript",
  },
  {
    image: html.src,
    name: "HTML",
  },
  {
    image: css.src,
    name: "CSS",
  },
  {
    image: bootstrap.src,
    name: "Bootstrap",
  },
  {
    image: vitest.src,
    name: "Vitest",
  },
  {
    image: cypress.src,
    name: "Cypress",
  },
  {
    image: python.src,
    name: "Python",
  },
  {
    image: flask.src,
    name: "Flask",
  },
  {
    image: postgre.src,
    name: "PostgreSQL",
  },
];
---

<section id="experience">
  <span class="section-title">{translations?.menu.experience}</span>
  {
    translations.experience &&
      translations.experience.map(
        ({ position, period, company, description }) => {
          return (
            <div class="experience">
              <div class="line" />
              <div class="data">
                <div class="header">
                  <p class="title">
                    {position} - {company}
                  </p>
                  <p class="date">{period}</p>
                </div>
                <div class="description" set:html={description} />
                <Chips data={chips} />
              </div>
            </div>
          );
        }
      )
  }
</section>
<style>
  .data {
    width: 94%;
  }
  .line {
    position: relative;
    width: 6%;
    margin-bottom: 0.5rem;
  }
  .line::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 35%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-secondary);
  }
  .line::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 35%;
    transform: translateX(-50%);
    width: 2px;
    height: calc(100% - 10px);
    background-color: var(--text-secondary);
    border-radius: 1px;
  }
  .experience {
    display: flex;
    width: 100%;
  }
  .date {
    color: var(--text-primary);
    font-size: 1rem;
  }
  .info {
    width: 75%;
    padding-left: 0.3rem;
    font-size: 1.1rem;
  }
  .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0.2rem;
  }
  .header {
    margin-bottom: 1rem;
  }
  .description {
    color: var(--text-secondary);
  }
  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
</style>
