---
import AboutSection from "./AboutSection.astro";
import ExperienceSection from "./ExperienceSection.astro";
import EducationSection from "./EducationSection.astro";
import Menu from "./Menu.astro";
import Socials from "./Socials.astro";
import ProjectsSection from "./ProjectsSection.astro";

const { data } = Astro.props;
---

<main id="container">
  <section class="home-data">
    <div class="contact-info">
      <h1>{data?.name}</h1>
      <h2>{data?.profession}</h2>
      <Socials data={data?.social} buttons={data?.buttons} />
    </div>
    <Menu data={data} />
  </section>
  <section class="info">
    {data?.about && <AboutSection data={data} />}
    {data?.experience?.length > 0 && <ExperienceSection data={data} />}
    {
      data?.education?.length > 0 && (
        <EducationSection data={data} buttons={data?.buttons} />
      )
    }
    {data?.projects?.length > 0 && <ProjectsSection data={data} />}
  </section>
</main>
<script is:inline>
  let sections = document.querySelectorAll("section[id]");
  let navLinks = document.querySelectorAll("ul li a");
  let sectionsContainer = document.querySelector("section.info");

  sectionsContainer.onscroll = () => {
    sections.forEach((sec) => {
      let top = sectionsContainer.scrollTop;
      let offset = sec.offsetTop - 250;
      let height = sec.offsetHeight;
      let id = sec.getAttribute("id");

      if (top >= offset && top < offset + height) {
        navLinks.forEach((link) => {
          link.classList.remove("active");
        });

        let activeLink = document.querySelector(`ul li a[href*="${id}"]`);
        if (activeLink) {
          activeLink.classList.add("active");
        }
      }
    });
  };
</script>
<style>
  #container {
    height: 78dvh;
  }
  main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
  }

  section {
    align-items: start;
    width: 100%;
  }
  hr {
    width: 99%;
    margin: 2rem 0;
    border: var(--line) 1px solid;
  }
  h1 {
    font-size: 3rem;
    letter-spacing: 0.25rem;
    margin-bottom: 1rem;
    margin: 0;
    font-weight: 800;
  }
  h2 {
    font-size: 1.3rem;
    margin: 1rem 0;
    color: var(--text-secondary);
  }
  .info {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    padding: 0 10px;
  }
  .home-data {
    margin-right: 1rem;
  }

  @media screen and (max-width: 768px) {
    .home-data {
      margin: 0;
    }
    #container {
      height: 100%;
    }
    main {
      flex-direction: column;
      padding: 2rem 1rem;
    }
    .info {
      scrollbar-gutter: initial;
    }
    .contact-info {
      text-align: center;
      min-height: 100dvh;
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }
  }
  @media screen and (max-height: 368px) {
    main {
      flex-direction: column;
    }
  }
</style>
