---
import Chips from "./Chips.astro";
import github from "../assets/github-white.svg";
import web from "../assets/web.svg";
import costosApp from "../assets/images/costos-app.png";

const { translations } = Astro.props;

const imageMap = {
  costosApp: costosApp.src,
};
---

<section id="projects">
  <span class="section-title">{translations?.menu.projects}</span>
  <div class="container">
    {
      translations.projects &&
        translations.projects.map((project) => (
          <div class="card">
            <div class="image">
              <img src={imageMap[project.imageKey]} alt="" />
            </div>
            <div class="info">
              <h4>{project.name}</h4>
              <p>{project.description}</p>
              {project.technologies && <Chips data={project.technologies} />}
              <div class="buttons">
                {project.web && (
                  <a
                    class="button"
                    href={project.web}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <img
                      src={web.src}
                      alt="web icon"
                      style={{ height: "1.7rem" }}
                    />
                    <span>{translations?.buttons.web}</span>
                  </a>
                )}
                {project.repo && (
                  <a
                    class="button"
                    href={project.repo}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <img
                      src={github.src}
                      alt="github icon"
                      style={{ height: "1.4rem" }}
                    />
                    <span>{translations?.buttons.code}</span>
                  </a>
                )}
              </div>
            </div>
          </div>
        ))
    }
  </div>
</section>
<style>
  .projects {
    display: flex;
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  .card {
    background-color: var(--card);
    border-radius: 0.4rem;
    border: var(--line) 1px solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
  }
  .image img {
    max-height: 17rem;
    max-width: 100%;
    object-fit: contain;
    flex: 1;
  }
  .info {
    grid-column: span 2 / span 2;

    padding: 1rem;
  }
  .info p {
    color: var(--text-tertiary);
  }
  .buttons {
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    display: flex;
    width: 100%;
    gap: 1rem;
  }
  .button {
    padding: 0.4rem 0.7rem;
    border: 1px solid var(--text-tertiary);
    border-radius: 0.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    opacity: 0.8;
    transition: all ease-in-out 0.3s;
    text-decoration: none;
    color: var(--text-secondary);
    gap: 0.6rem;
  }
  .button:hover {
    opacity: 1;
    background-color: var(--line);
  }
  .button img {
    fill: white;
  }
  h4 {
    margin: 0;
    margin-bottom: 0.5rem;
  }
  p {
    margin: 0;
    padding: 0.5rem 0 0 0;
  }
  @media screen and (max-width: 768px) {
    .card {
      flex-direction: column;
    }
    .image {
      width: 100%;
      padding: 0.5rem 0;
    }
    .image img {
      max-height: 10rem;
    }
    .info {
      width: 100%;
    }
  }
</style>
