---
import github from "../assets/github-white.svg";
import linkedin from "../assets/linkedin.svg";
import mail from "../assets/mail.svg";

const { translations } = Astro.props;
---

<div class="social">
  <a href={translations?.linkedin} target="_blank" rel="noopener noreferrer">
    <img src={linkedin.src} alt="linkedin" style={{ height: "1.7rem" }} />
  </a>
  <div class="separator"></div>
  <a href={translations?.github} target="_blank" rel="noopener noreferrer">
    <img src={github.src} alt="github" style={{ height: "1.6rem" }} />
  </a>
  <div class="separator"></div>
  <a
    href={"mailto:" + translations?.mail}
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src={mail.src} alt="mail" />
  </a>
</div>
<style>
  .social {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
  }
  img {
    height: 1.9rem;
    padding: 5px;
    transition: 0.3s ease all;
  }
  img:hover {
    scale: 1.15;
    cursor: pointer;
  }
  .separator {
    width: 2px;
    height: 1.7rem;
    background-color: var(--line);
  }
</style>
