---
import GithubIcon from "../assets/github.svg";
import LinkedinIcon from "../assets/linkedin.svg";
import MailIcon from "../assets/mail.svg";

const { data, buttons } = Astro.props;
---

<div class="social">
  <a
    href={data?.linkedin}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={buttons?.toLinkedin}
  >
    <LinkedinIcon style={{ height: "1.9rem" }} />
  </a>
  <div class="separator"></div>
  <a
    href={data?.github}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={buttons?.toGithub}
  >
    <GithubIcon style={{ height: "1.9rem", width: "1.9rem" }} />
  </a>
  <div class="separator"></div>
  <a
    href={"mailto:" + data?.email}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={buttons?.toEmail}
  >
    <MailIcon style={{ height: "2rem" }} />
  </a>
</div>

<style>
  .social {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    max-width: 26rem;
    padding-top: 0.4rem;
  }
  svg {
    fill: var(--text-secondary);
    height: 2rem;
    padding: 5px;
    transition: 0.3s ease all;
  }
  svg:hover {
    scale: 1.15;
    cursor: pointer;
  }
  .separator {
    width: 2px;
    height: 1.7rem;
    background-color: var(--line);
  }
</style>
